<div class="w-full m-5">
  <div class="border border-solid rounded-xl p-10 shadow grid grid-cols-2 gap-3 lg:grid-cols-5 ">
    <div class="card">
      <div>
        <h5>Basic Setup</h5>
        <div class="body">
          <div class="my-2">
            <label class="" for="">Type</label>
            <select class="form-select" [(ngModel)]="type">
              <option [value]="'single'">Single</option>
              <option [value]="'double'">Double</option>
            </select>
          </div>
          <div class="my-2">
            <label for="">Min Value</label>
            <input class="
                                          mt-1
                                          block
                                          w-full
                                          rounded-md
                                          bg-gray-100
                                          border-transparent
                                          focus:border-gray-500 focus:bg-white focus:ring-0
                                        " type="number" [(ngModel)]="min">
          </div>
          <div class="my-2">
            <label for="">Max Value</label>
            <input type="number" [(ngModel)]="max">
          </div>
          <div class="my-2">
            <label for="">{{type === 'single' ? 'Value' : 'From value'}}</label>
            <input type="number" [(ngModel)]="from">
          </div>
          <div class="my-2" *ngIf="type === 'double'">
            <label for="">To Value</label>
            <input type="number" [(ngModel)]="to">
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-3 card">
      <div>
        <h5>Slider</h5>
        <div class="body flex flex-row items-center justify-center w-full h-full">
          <ngx-ion-range-slider class="w-full" [min]="min" [max]="max" [from]="from" [to]="to" [step]="step" [values]="values"
            [type]="type" [grid]="showGrid" [grid_num]="gridNum" [grid_margin]="grid_margin" [grid_snap]="grid_snap"
            [drag_interval]="drag_interval" [min_interval]="min_interval" [max_interval]="max_interval"
            [from_fixed]="from_fixed" [from_min]="from_min" [from_max]="from_max" [from_shadow]="from_shadow"
            [to_fixed]="to_fixed" [to_min]="to_min" [to_max]="to_max" [to_shadow]="to_shadow" [skin]="skin"
            [hide_from_to]="hide_from_to" [hide_min_max]="hide_min_max" [force_edges]="force_edges"
            [prettify_enabled]="prettify_enabled" [prettify_separator]="prettify_separator" [prefix]="prefix"
            [postfix]="postfix" [max_postfix]="max_postfix" [decorate_both]="decorate_both"
            [values_separator]="values_separator" (change)="onChange($event)" (changeFinish)="onchangeFinish($event)">
          </ngx-ion-range-slider>
        </div>
      </div>
    </div>


    <div class="card">
      <div>
        <h5>Advanced setup</h5>
        <div class="body">
          <div>
            <label for="">Step</label>
            <input type="number" [(ngModel)]="step">
          </div>

          <div>
            <label for="">Values</label>
            <input type="text" [(ngModel)]="newValueValues" />
            <div class="grid grid-cols-2 gap-2 mt-5">
              <button class="btn" (click)="onAddValue()" [disabled]="newValueValues === ''">Add Value</button>
              <button class="btn" (click)="onSetMonthsValues()">Set months value</button>
            </div>

            <ul class="w-full mt-3 max-h-32 overflow-y-auto">
              <li *ngFor="let value of values" class="my-2">
                <div class="flex flex-row justify-between items-center">
                  <p>{{value}}</p>
                  <button class="btn" (click)="onRemoveValue(value)">Remove</button>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div>
        <h5>Grid Setup</h5>

        <div class="body">
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="showGrid">
            <label for="">Enables grid of values</label>
          </div>


          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="grid_margin">
            <label for="">Set left and right grid borders.</label>
          </div>

          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="grid_snap">
            <label for="">Snap grid to sliders step (step param). If activated, grid_num will not be used.</label>
          </div>
          <div *ngIf="!grid_snap">
            <label for="">Number of grid units</label>
            <input type="number" [(ngModel)]="gridNum">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="type === 'double'" class="card">
      <div>
        <h5>Interval control</h5>

        <div class="body">
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="drag_interval">
            <label for="">Allow user to drag whole range.</label>
          </div>
          <div>
            <label for="">Set minimum diapason between sliders</label>
            <input type="number" [(ngModel)]="min_interval">
          </div>
          <div>
            <label for="">Set maximum diapason between sliders.</label>
            <input type="number" [(ngModel)]="max_interval">
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div>
        <h5>Handles control</h5>

        <div class="body">
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="from_fixed">
            <label for="">Fix position of left (or single) handle.</label>
          </div>
          <div>
            <label for="">Set the minimum limit for left handle</label>
            <input type="number" [(ngModel)]="from_min">
          </div>
          <div>
            <label for="">Set the maximum limit for left handle</label>
            <input type="number" [(ngModel)]="from_max">
          </div>
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="from_shadow">
            <label for="">Highlight the limits for left handle</label>
          </div>
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="to_fixed">
            <label for="">Fix position of right handle.</label>
          </div>

          <div>
            <label for="">Set the minimum limit for right handle</label>
            <input type="number" [(ngModel)]="to_min">
          </div>
          <div>
            <label for="">Set the maximum limit for right handle</label>
            <input type="number" [(ngModel)]="to_max">
          </div>

          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="to_shadow">
            <label for="">Highlight the limits for right handle</label>
          </div>
        </div>
      </div>



    </div>

    <div class="card">
      <div>
        <h5>UI control</h5>

        <div class="body">
          <div>
            <label for="">Skin</label>
            <select class="form-select" [(ngModel)]="skin">
              <option [value]="'flat'">Flat</option>
              <option [value]="'modern'">Modern</option>
              <option [value]="'big'">Big</option>
              <option [value]="'round'">Round</option>
              <option [value]="'sharp'">Sharp</option>
              <option [value]="'square'">Square</option>


            </select>
          </div>
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="hide_min_max">
            <label for="">Hides min and max labels.</label>
          </div>
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="hide_from_to">
            <label for="">Hides from and to labels.</label>
          </div>
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="force_edges">
            <label for="">Slider will be always inside it's container.</label>
          </div>
        </div>
      </div>
      <!--
    
      // @Input() extra_classes: string = ''; //Traverse extra CSS-classes to slider container
      @Input() block: boolean = false; //Locks slider and makes it inactive (visually). input is NOT disabled. Can still be send with forms.-->
    </div>

    <div class="card">
      <div>
        <h5>Prettify numbers</h5>

        <div class="body">
          <div class="form-check">
            <input class="form-checkbox" type="checkbox" [(ngModel)]="prettify_enabled">
            <label for="">Enables prettify function.</label>
          </div>
          <div>
            <label for="">Set up your own separator for long numbers. 10 000, 10.000, 10-000 etc.</label>
            <input type="text" [(ngModel)]="prettify_separator">
          </div>

          <div>
            <label for="">Set prefix for values. Will be set up right before the number: $100</label>
            <input type="text" [(ngModel)]="prefix">
          </div>
          <div>
            <label for="">Set postfix for values. Will be set up right after the number: 100k</label>
            <input type="text" [(ngModel)]="postfix">
          </div>
          <div>
            <label for="">Special postfix, used only for maximum value. Will be showed after handle will reach maximum
              right position. For example 0 — 100+</label>
            <input type="text" [(ngModel)]="max_postfix">
          </div>
          <div>
            <label for="">Used for "double" type and only if prefix or postfix was set up. Determine how to decorate
              close
              values. For example: $10k — $100k or $10 — 100k</label>
            <input type="checkbox" [(ngModel)]="decorate_both">
          </div>
          <div>
            <label for="">Set your own separator for close values. Used for double type. Default: 10 — 100. Or you may
              set: 10 to 100, 10 + 100, 10 → 100 etc.</label>
            <input type="text" [(ngModel)]="values_separator">
          </div>
        </div>
      </div>
    </div>




    <span>Value result : {{min}} {{type}}</span>
  </div>